<div class="w3-top w3-theme-d4">
    <div class="w3-bar">
        <!-- 
        <a href="/search" class="w3-bar-item w3-button w3-right w3-hover-theme w3-tooltip"><span
                class="w3-text">Search</span> <i class="fa fa-search"></i></a> -->
        {% for item in site.data.navigation %}
        <a href="{{ item.link }}" class="w3-bar-item w3-button w3-hover-theme w3-tooltip {% if item.link == "/" %} w3-blue-grey {% elsif item.link=="/search" %} w3-right {% endif %}"><i class="fa fa-{{ item.icon }}"></i> <span style="position:absolute;left:0px;width: 100%;" class="w3-text w3-tag w3-tiny w3-black w3-margin-top">{{ item.name }}</span></a>
        {% endfor %}
    </div>
</div>
<br /><br />