<hr>
<h2 class="w3-center">Forms and Lists</h2>
<div class="w3-row-padding">

  <div class="w3-half">
    <form class="w3-container w3-card-4">
      <h2>Input Form</h2>
      <div class="w3-section">
        <input class="w3-input" type="text" required>
        <label>Name</label>
      </div>
      <div class="w3-section">
        <input class="w3-input" type="text" required>
        <label>Email</label>
      </div>
      <div class="w3-section">
        <input class="w3-input" type="text" required>
        <label>Subject</label>
      </div>

      <div class="w3-row">
        <div class="w3-half">
          <input id="milk" class="w3-check" type="checkbox" checked="checked">
          <label>Milk</label>
          <br>
          <input id="sugar" class="w3-check" type="checkbox">
          <label>Sugar</label>
          <br>
          <input id="lemon" class="w3-check" type="checkbox" disabled>
          <label>Lemon (Disabled)</label>
          <br><br>
        </div>

        <div class="w3-half">
          <input id="male" class="w3-radio" type="radio" name="gender" value="male" checked>
          <label>Male</label>
          <br>
          <input id="female" class="w3-radio" type="radio" name="gender" value="female">
          <label>Female</label>
          <br>
          <input id="unknown" class="w3-radio" type="radio" name="gender" value="" disabled>
          <label> Don't know (Disabled)</label>
        </div>
      </div>
    </form>
  </div>
  <div class="w3-half">
    <div class="w3-card-4 w3-container">
      <h2>Lists</h2>
      <ul class="w3-ul w3-margin-bottom">
        <li>Jill</li>
        <li>Eve</li>
        <li>Adam</li>
      </ul>
      <br>
      <ul class="w3-ul w3-border w3-hoverable">
        <li class="w3-theme">Jill</li>
        <li>Eve</li>
        <li>Adam</li>
        <li>Steve</li>
      </ul>
      <br>
    </div>
  </div>
</div>
<hr>